.c{
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.head{
    background-color:rgb(25, 95, 52);
    color:rgb(255, 255, 255);
    height:100px;
    line-height:100px;
    font-size:30px;
    top:0px;
}

.body{
    background-color:rgb(231, 231, 231);
    top:0px;
    color:rgb(54, 54, 54);
    text-align:left;
    padding-left:35px;
}

p{
    padding-left:50px;
}

.foot{
    position:fixed;
    background-color:rgb(25,95,52);
    color:rgb(255, 255, 255);
    bottom:0px;
    left:30px;
    right:30px;
    height:35px;
    line-height:35px;
    font-size:20px;
}

.tableauPlaceholder{
    display:block;
    width:33%;
    margin-left:auto;
    margin-right:auto;
}

iframe{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

nav{
    background-color:rgb(10,80,37);
    padding:15px;
    overflow:hidden;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a:hover{
    background-color:rgb(86, 179, 109);
    color:rgb(255, 255, 255);
}

img{
    display:block;
    width:35%;
    margin-left:auto;
    margin-right:auto;
}